<h1>New role</h1>

<%= error_messages_for :role %>

<form enctype="" name="roleForm" id="roleForm" action="/master/role_update/<%=@role.id%>"  method="post" style='text-align:left'>

  <p>
    <b>Role Name</b><br />
    <input class='zpFormRequired' value="<%=@role.name%>" size="40" name="role[name]"  type="text" >
  </p>
  <p>
  
    <%= button_to "Submit", :controller => "master", :action => "role_update" %>
  </p>
</form>
